<!DOCTYPE html>
<html lang="en">
<head>
<title>DILAN</title>
<link rel="shortcut icon" href="/img/
fabicon.ico">
<link rel="stylesheet" type="text/css" href="/css/animate (8).css">
	<meta charset="UTF-8">
	<link rel="stylesheet"  href="/css/inicio.css">
</head>
<body>
<header>
<div >
<div class="logo">
	<img class="animated bounceInLeft" src="/img/logo.png" >	
	</div>
	<nav class="navegacion">
	<ul class="menu">
		<li class="first-item"> <a href="inicio.html">
		<img src="/img/home.jpg" alt="" class="imagen">
        <span class="text-item">INICIO</span>
        <span class="down-item"></span>
		</a></li>
		
		<li class="first-item"><a href="informacion.html">
		<img src="/img/us.jpg" alt="" class="imagen">
        <span class="text-item">INFORMACION</span>
        <span class="down-item"></span>
		</a>
		</li>

		<li class="first-item"><a href="contactos.html">
		<img src="/img/contacto.jpg" alt="" class="imagen">
        <span class="text-item">CONTACTO</span>
        <span class="down-item"></span>
		</a>
		</li>

		<li class="first-item"><a href="servicios.html">
		<img src="/img/servicios.jpg" alt="" class="imagen">
        <span class="text-item">SERVICIOS</span>
        <span class="down-item"></span>
		</a>
		</li>
	</ul>
	</nav>
  </header>
  <div>
	<h1>este es el LOGIN</h1>
	<form action="">
		<label for="usuario">Usuario</label>
		<input type="text">
		<label for="password">password</label>
		<input type="text">
		<button type="submit">enviar</button>
	</form>
	

  </div>
     <footer id="pie">
     Derechos Reservados &copy; 2010-2011
     </footer>
</body>
</head>
</html>
